.Slider {
    width: 90vw;
    height: calc(100vh - 60px);
}

.Slider__container {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.Slider__block {
    width: 60vw;
    height: 54vh;
}

.slider-arrow-left > i,
.slider-arrow-right > i {
    font-size: 32px;
}

.Slider__item {
    width: 100%;
    height: 100%;
    border-radius: 3px;
    box-shadow: 0 0 4px #aaa;
    background-color: white;
}

.Slider__item-header {
    width: 100%;
    height: 75%;
    border-radius: 3px 3px 0 0;
}

.Slider__item-footer {
    width: 100%;
    height: 25%;
    border-radius: 0 0 3px 3px;
    display: flex;
    align-items: center;
    padding-left: 40px;
}